.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  z-index: 10;
}
